@Styles.Render("~/Content/asset/css/leftsidebar")
@if (Request.IsAuthenticated)
{
    <div class="area"></div><nav class="main-menu" id="mainmenu">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="@Url.Action("Index","CookBooks")">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        CookBook
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="@Url.Action("Index","Ingredients")">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Ingredients
                    </span>
                </a>
            </li>
            <li class="has-subnav">       
                <a href="~/Views/Home/Index.cshtml">
                    <i class="fa fa-fire fa-2x"></i>
                    <span class="nav-text">
                        Recipes
                    </span>
                </a>    
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Log Out                
                    </span>
                </a>
            </li>
        </ul>    
    </nav>
}
else
{
    <div class="area"></div><nav class="main-menu" id="mainmenu">
        <ul>
            
            <li>
                <a href="@Url.Action("Login","Account")">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Log in needed
                    </span>
                </a>
            </li>
        </ul>
    </nav>
}