@model TechnicalProgrammingProject.Models.Recipe

@Styles.Render("~/Content/asset/css/recipeCard.css")

<div class="col-md-4">
    <div class="recipeCard">
        <a href=@Url.Action("Details", "Recipes", new { id = Model.ID })>
            @Html.Image(Model.ImageURL)
        </a>
        <div class="content">
            <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
            Rating: @Html.DisplayFor(modelItem => Model.Rating)/10!
        </div>
    </div>
</div>
