@model TechnicalProgrammingProject.Models.Recipe

@Styles.Render("~/Content/asset/css/recipeCard_CookBook.css")

<div class="col-md-4 hvr-grow-shadow" id="cardbodies">
    <div class="recipeCard">
        <a href=@Url.Action("Details", "Recipes", new { id = Model.ID })>
            @Html.Image(Model.ImageURL, new { @class = "img hvr-rotate" })
        </a>
        <div class="content">
            <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
            Rating: @Html.DisplayFor(modelItem => Model.Rating)/10!
        </div>
        <input class="btn btn-success hvr-round-corners" type="button" value="Details" />
        <input class="btn btn-success hvr-round-corners" type="button" value="Delete" />
    </div>
</div>

