@model List<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Cookbook";
}

<h2> Your Cookbook Recipes</h2>

<div class="row">
    @foreach (var userRecipe in Model)
    {
        @Html.Partial("_RecipeCard_CookBook", userRecipe);
    }
</div>
