@model List<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Cookbook";
}

<h2> Your Cookbook Recipes</h2>

@foreach (var userRecipe in Model)
{
    @Html.Partial("_RecipeCard", userRecipe);
}