@model List<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Cookbook";
}

<h2> User 1's Cookbook Recipes</h2>

@foreach( var userRecipe in Model)
{
    @Html.Partial("_RecipeSummary", userRecipe);
}