body {
    height: 100%;
}

#recipesummary-image {
    
    width: 400px;
    height: 300px;
    position:center;
    padding: 20px 20px;
}

.recipesummary{
    margin: 50px;
    float:left;
    width: 400px;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}