@model IEnumerable<TechnicalProgrammingProject.Models.ManageRecipeViewModel>

@{
    ViewBag.Title = "Approved Recipes";
}

<h2> Displaying All Approved Recipes </h2>
@foreach (var recipe in Model)
{
    @Html.Partial("_ManageRecipePartial", recipe)

    <br />
}
