@model IEnumerable<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Manage Recipes";
}

<h2> YEAH! </h2>
@foreach (var recipe in Model)
{
    <li> @Html.DisplayFor(modelItem => recipe.Name) </li>
    <li> @Html.DisplayFor(modelItem => recipe.Status) </li>

    <br />
}