@model TechnicalProgrammingProject.Models.UploadsViewModel

@{
    ViewBag.Title = "Uploads";
}

<h2>Uploader Name</h2>

<div>
    <h4>UploadsViewModel</h4>
    <hr />
    <div class="row">
        @foreach (var userRecipe in Model.Recipes)
            {
            @Html.Partial("_RecipeCard", userRecipe);
            }
    </div>
    @Html.ActionLink("Upload a Recipe", "Create")
</div>