@model TechnicalProgrammingProject.Models.Recipe

@{
    ViewBag.Title = "Index";
}

<h2 id="recipe-name">@Html.DisplayFor(model => model.Name)</h2>

<div class="recipe-div-body">
    <img id="recipe-img" src=@Html.DisplayFor(model => model.ImageURL)>
    <p id="recipe-rating">
        Rating:  @Html.Action("getRatingAverage", new { recID = Model.ID })</>
    <p id="recipe-description">
        @Html.DisplayFor(model => model.Description)
    </p>

</div>

