@model IEnumerable<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Search";
}

<form method="get">
    <input type="search" name="searchTerm" />
</form>

<p>@ViewBag.Message</p>

<!-- For each recipe in the model, display the recipes summary with a partial view -->
<div>
    @foreach (var recipe in Model)
    {
        @Html.Partial("_RecipeCard", recipe)
    }
</div>