@model IEnumerable<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2 id="homepage-page-title"> Welcome to Judge Rabberschnottle's Cookbook of Akwardness</h2>

<!-- For each recipe in the model, display the recipes summary with a partial view -->
@foreach (var recipe in Model)
{
    @Html.Partial("_RecipeSummary", recipe)
}