@model IEnumerable<TechnicalProgrammingProject.Models.Recipe>

@{
    ViewBag.Title = "Homepage";
}

<div class="alert success">
    <span class="closebtn">&times;</span>
    <strong>Welcome to The Grill!</strong> Private! Get Ready to Flambé!
</div>


<p>@ViewBag.Message</p>
<div class="container">
    
    <div>
        @Html.Partial("_CarouselPartial")
    </div>
    @using (Html.BeginForm("Search", "Recipes", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <input type="search" name="searchTerm" placeholder="Search..." autocomplete="off" />
    }
    <!-- For each recipe in the model, display the recipes summary with a partial view -->
    <div class="row">
        @foreach (var recipe in Model)
        {
            @Html.Partial("_RecipeCard", recipe)
        }
    </div>
</div>


@Scripts.Render("~/bundles/recipeC")